<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adminlar</title>
</head>
<body>
<h1>Adminlar ro'yxati </h1>
<hr>
<ol>
    {% for admin in adminlar %}
    <li>
        <a href="/admin_view/{{admin.id}}/">{{admin.ism}}</a>
        <a href="/admin_view/{{admin.id}}/delete/confirm">
            <button>Delete</button>
        </a>
        <a href="/admin_view/{{admin.id}}/update">
            <button>Update</button>
        </a>
    </li>
    {% endfor %}
</ol>
<hr>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button>Qo'shish</button>
</form>
<hr>
</body>
</html>