<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kitob</title>
</head>
<body>
<h1>Kitob</h1>
<hr>
<form>
    <select name="ordering">
        <option value="">Barchasi</option>
        <option value="nom">Nom(a-z)</option>
        <option value="-nom">Nom(z-a)</option>
    </select>
    <button>Go</button>
    <select name="sahifa">
        <option value="">Barchasi</option>
        <option value="sahifa">ASC</option>
        <option value="-sahifa">DESC</option>
    </select>
    <button>Go &gt;</button>
</form>
<hr>
<ol>
    {% for kitob in kitoblar %}
       <li><a href="/kitob/{{kitob.id}}/">{{ kitob.nom }}</a></li>
    {% endfor %}
</ol>
<hr>
<form method="post">
    {% csrf_token %}
    <label for="nom">Nom:</label>
    <input type="text" name="nom" id="nom" required>
    <br><br>
    <label for="janr">Janr:</label>
    <input type="text" name="janr" id="janr" required>
    <br><br>
    <label for="sahifa">Sahifa:</label>
    <input type="number" name="sahifa" id="sahifa" value="1">
    <br><br>
    <label for="author">Muallif:</label>
    <select name="muallif_id" id="author">
        {% for author in authors %}
            <option value="{{ author.id }}">{{ author.ism }}</option>
        {% endfor %}
    </select>
    <br><br>
    <button>Qo'shish</button>
</form>
<hr>
<hr>
<h1>Sahifalar</h1>
<ol>
    {% for sahifa in sahifalar %}
        <li>{{sahifa.nom}} - {{sahifa.sahifa}}</li>
    {% endfor %}
</ol>
<hr>
<hr>

<h1>Badiiy kitoblar</h1>
<ol>
    {% for badiiy in badiiylar %}
    <li>{{badiiy.nom}} - {{badiiy.janr}}</li>
    {% endfor %}
</ol>

</body>
</html>