<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mualliflar</title>
</head>
<body>
<h1>Mualliflar</h1>
<hr>
<form>
    <input type="text" name="search" placeholder="Ism bo'yicha qidirish " {% if search %} value="{{search}}" {% endif %}>
    <button>Search</button>
</form>
<hr>
<ol>
    {% for muallif in mualliflar %}
    <li><a href="/muallif/{{muallif.id}}/">{{ muallif.ism }}</a>
        <a href="/muallif/{{muallif.id}}/delete/confirm/">
            <button>Delete</button>
        </a>
        <a href="/muallif/{{muallif.id}}/update">
            <button>Update</button>
        </a>
    </li>
    {% endfor %}
</ol>
<hr>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button>Qo'shish</button>
</form>
<hr>
<h1>Eng ko'p kitobi borlar</h1>
<ol>
    {% for eng in eng_katta %}
    <li>{{eng.ism}} - {{eng.kitob_soni}}</li>
    {% endfor %}
</ol>

<hr>
<hr>
<h1>Eng yoshi katta mualliflar</h1>
<ol>
    {% for katta in katta_yosh %}
    <li>{{katta.ism}} - {{katta.tugilgan_sana}}</li>
    {% endfor %}
</ol>
<hr>
<hr>
<h1>kitobi 10 tadan kam mualliflar</h1>
<ol>
    {% for kitob in eng_kop_kitob %}
    <li>{{kitob.ism}} - {{kitob.kitob_soni}}</li>
    {% endfor %}
</ol>
</body>
</html>