<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Record</title>
</head>
<body>
<h1>Recordlar</h1>
<hr>
<form>
    <input type="text" name="search" placeholder="Ism bo'yicha qidiring ..." {% if search %} value="{{search}}" {% endif %}>
    <button>Search</button>
</form>
<hr>

<ol>
  {% for record in recordlar %}
    <li><a href="/order/{{record.id}}/">{{ record.talaba }} - {{record.admin}} - {{record.kitob}}</a>
        <a href="/record/{{record.id}}/delete/confirm">
            <button>Delete</button>
        </a>
    </li>
  {% endfor %}
</ol>
<hr>
<form method="post">
    <h1>Recordlar qo'shish</h1>
    {% csrf_token %}
    <label for="talaba">Talaba:</label>
    <select name="talaba_id" id="talaba">
        {% for talaba in talabalar %}
            <option value="{{ talaba.id }}">{{ talaba.ism }}</option>
        {% endfor %}
    </select>
    <br><br>
    <label for="kitob">Kitob:</label>
    <select name="kitob_id" id="kitob">
        {% for kitob in kitoblar %}
            <option value="{{ kitob.id }}">{{ kitob.nom }}</option>
        {% endfor %}
    </select>
    <br><br>
    <label for="admin">Adminlar:</label>
   <select name="admin_id" id="admin">
        {% for admin in adminlar %}
            <option value="{{ admin.id }}">{{ admin.ism }}</option>
        {% endfor %}
    </select>
    <br><br>
    <label for="ol_sana">Olingan sana:</label>
    <input type="date" name="olingan_sana" id="ol_sana">
    <br><br>
    <label for="q_sana">Qaytarish sana:</label>
    <input type="date" name="qaytatrish_sanasi" id="q_sana">
    <br><br>
    <button>Qo'shish</button>
</form>
<hr>
<h1>Recordlar olingan sana </h1>
<ol>
    {% for sana in record_sana %}
    <li>{{sana.talaba}} - {{sana.kitob}} - {{sana.admin}}</li>
    {% endfor %}
</ol>

<hr>
<hr>
<ol>
    {% for student in bitiruvchilar %}
    <li>{{student.talaba.ism}}
        Guruh: {{student.talaba.guruh}}
        Kurs: {{student.talaba.kurs}}
        Kitob_soni: {{student.talaba.kitob_soni}} </li>
    {% endfor %}
</ol>
</body>
</html>