<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Talabalar</title>
</head>
<body>
<h1>Talabalar</h1>
<hr>
<form >
    <select name="ordering" id="ordering">
        <option value="">Old</option>
        <option value="ism">ism(a-z)</option>
        <option value="-ism">ism(z-a)</option>
    </select>
    <button>Go</button>

    <select name="kurs" id="kurs">
        <option value="">Barchasi</option>
        <option value="1">1-kurs</option>
        <option value="2">2-kurs</option>
        <option value="3">3-kurs</option>
        <option value="4">4-kurs</option>
    </select>
    <button>Filter</button>
</form>
<ol>
    {% for talaba in talabalar %}
    <li>{{talaba.ism}}</li>
    {% endfor %}
</ol>
<br>
<form method="post" >
    {% csrf_token %}
    <h3>Yangi talaba qo'shish</h3>
    <label for="name">Ism:</label>
    <input type="text" name="ism" id="name">
<br><br>
    <label for="group">Guruh:</label>
    <input type="text" name="guruh" id="group">
<br><br>
    <label for="course">Kurs:</label>
    <input type="number" name="kurs" id="course">
<br><br>
    <label for="books">Kitoblar soni:</label>
    <input type="number" name="kitob_sone" id="books">
<br><br>
    <button>Qo'shish</button>
</form>
</body>
</html>